<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDawlrjoto0YY5YpcLKKLOV01XsRVcIfOk</string>
	<key>GCM_SENDER_ID</key>
	<string>216543236684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.apacrewnote</string>
	<key>PROJECT_ID</key>
	<string>apacrewnote</string>
	<key>STORAGE_BUCKET</key>
	<string>apacrewnote.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216543236684:ios:8793fe289af1279e6b5ae9</string>
</dict>
</plist>